asgiref
awscli
boto3
botocore
colorama
Django
django-storages 
djangorestframework
docutils
jmespath 
pyasn1 
python-dateutil 
python-decouple
pytz
PyYAML 
rsa 
s3transfer 
six 
sqlparse 
urllib3
mysqlclient
